<p>Formularz nadawania przesyłek 'Kurier InPost'. Aby nadać przesyłkę do paczkomatu, przesyłkę Allegro Kurier InPost lub list polecony InPost, skorzystaj z przycisku 'Paczkomaty'.</p>

<div class="form__input row align-items-center">
    <div class="col-3"><label for="service-select">Usługa</label></div>
    <div class="col-9">
        <select class="form-select przesylki-input" aria-label="Usługa" id="service-select">
            <option value="1" <%= value === 'Przesyłka kurierska standardowa' ? 'selected' : '' %>>Przesyłka kurierska standardowa</option>
            <!-- <option value="2" <%= value === 'Przesyłka kurierska z doręczeniem do 10:00' ? 'selected' : '' %>>Przesyłka kurierska z doręczeniem do 10:00</option>
            <option value="3" <%= value === 'Przesyłka kurierska z doręczeniem do 12:00' ? 'selected' : '' %>>Przesyłka kurierska z doręczeniem do 12:00</option>
            <option value="4" <%= value === 'Przesyłka kurierska z doręczeniem do 17:00' ? 'selected' : '' %>>Przesyłka kurierska z doręczeniem do 17:00</option>
            <option value="5" <%= value === 'Przesyłka kurierska Paleta Standard' ? 'selected' : '' %>>Przesyłka kurierska Paleta Standard</option>
            <option value="6" <%= value === 'Przesyłka kurierska Lokalna Standardowa' ? 'selected' : '' %>>Przesyłka kurierska Lokalna Standardowa</option>
            <option value="7" <%= value === 'Przesyłka kurierska Lokalna Expresowa' ? 'selected' : '' %>>Przesyłka kurierska Lokalna Expresowa</option>
            <option value="8" <%= value === 'Przesyłka kurierska Lokalna Super Expresowa' ? 'selected' : '' %>>Przesyłka kurierska Lokalna Super Expresowa</option> -->
        </select>
    </div>
</div>


<div class="form__input row align-items-center">
    <div class="col-3"><label for="cod-input">Pobranie</label></div>
    <div class="col-9">
        <div class="input-group">
            <input type="text" class="form-control przesylki-input" aria-label="Pobranie" aria-describedby="cod-label" id="cod-input">
            <span class="input-group-text" id="cod-label">PLN</span>
        </div>
    </div>
</div>

<div class="form__input row align-items-center">
    <div class="col-3"><label for="insurance-input">Ubezpieczenie</label></div>
    <div class="col-9">
        <div class="input-group">
            <input type="text" class="form-control przesylki-input" aria-label="Ubezpieczenie" aria-describedby="insurance-label" id="insurance-input" value="<%= insurance %>">
            <span class="input-group-text" id="insurance-label">PLN</span>
        </div>
    </div>
</div>

<div class="form__input row align-items-center">
    <div class="col-3"><label for="contents-input" class="form-label" id="contents-label">Zawartość paczki</label></div>
    <div class="col-9">
        <input type="text" class="form-control przesylki-input" id="contents-input" aria-describedby="contents-label" value="Nie rzucać">
    </div>
</div>

<button type="button" class="btn btn-primary" id="inpost-btn">Dodaj</button>
