<div class="form__input row align-items-center">
    <div class="col-3"><label for="kurier-select">Kurier</label></div>
    <div class="col-9">
        <select class="form-select przesylki-input" aria-label="Kurier" id="service-select">
            <option value="Allegro Kurier DPD" <%= value === 'Allegro DPD' ? 'selected' : '' %>>Allegro DPD</option>
            <option value="Allegro Kurier UPS" <%= value === 'Allegro UPS' ? 'selected' : '' %>>Allegro UPS</option>
            <!-- <option value="3" <%= value === 'Allegro DPD' ? 'checked' : '' %>>Allegro Poczta</option> -->
            <!-- <option value="4" <%= value === 'Allegro DPD' ? 'checked' : '' %>>Allegro One (UPS)</option> -->
            <option value="Allegro Kurier DPD" <%= value === 'Allegro DPD za granicę' ? 'selected' : '' %>>Allegro DPD za granicę</option>
            <!-- <option value="Allegro One Box" <%= value === 'Allegro DPD' ? 'checked' : '' %>>Allegro One Kurier</option> -->
            <option value="Allegro One Box" <%= value === 'Allegro One Box (One Kurier)' ? 'selected' : '' %>>Allegro One Box (One Kurier)</option>
            <option value="Allegro One Punkt" <%= value === 'Allegro One Punkt (One Kurier)' ? 'selected' : '' %>>Allegro One Punkt (One Kurier)</option>
            <option value="Allegro International Kurier Czechy (zbiorczo)" <%= value === 'Allegro International Kurier Czechy (zbiorczo)' ? 'selected' : '' %>>Allegro International Kurier Czechy (zbiorczo)</option>
        </select>
    </div>
</div>

<!-- <div class="form__input row align-items-center">
    <div class="col-3"><label for="rodzaj-select">Rodzaj</label></div>
    <div class="col-9">
        <select class="form-select przesylki-input" aria-label="Rodzaj" id="rodzaj-select">
            <option value="1" selected>Paczka</option>
            <option value="2">Koperta</option>
            <option value="3">Paleta</option>
        </select>
    </div>
</div> -->

<div class="form__input row align-items-center">
    <div class="col-3"><label for="cod-input">Pobranie</label></div>
    <div class="col-9">
        <div class="input-group">
            <input type="text" class="form-control przesylki-input" aria-label="Pobranie" aria-describedby="cod-label" id="cod-input">
            <span class="input-group-text" id="cod-label">PLN</span>
        </div>
    </div>
</div>

<div class="form__input row align-items-center">
    <div class="col-3"><label for="insurance-input">Ubezpieczenie</label></div>
    <div class="col-9">
        <div class="input-group">
            <input type="text" class="form-control przesylki-input" aria-label="Ubezpieczenie" aria-describedby="insurance-label" id="insurance-input"  value="<%= insurance %>">
            <span class="input-group-text" id="insurance-label">PLN</span>
        </div>
    </div>
</div>

<div class="form__input row align-items-center">
    <div class="col-3"><label for="contents-input" class="form-label" id="contents-label">Opis zawartości</label></div>
    <div class="col-9">
        <input type="text" class="form-control przesylki-input" id="contents-input" aria-describedby="contents-label" value="Nie rzucać">
    </div>
</div>

<div class="form__input row align-items-center">
    <div class="col-3"><label for="refnumber-input" class="form-label" id="refnumber-label">Numer referencyjny</label></div>
    <div class="col-9">
        <input type="text" class="form-control przesylki-input" id="refnumber-input" aria-describedby="refnumber-label" value="<%= refVal %>">
    </div>
</div>

<button type="button" class="btn btn-primary" id="allegro-btn">Dodaj</button>