
<!DOCTYPE html>
<html>
 
<head>
    <title>Informacje o przesyłce</title>  
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
 
<body>
    <div class="page">
        <div class="page__header"><h1>Zamówienie <span class="text-blue" id="order-id-span">#<%=orderDetails.order_id%></span></h1></div>
        <div class="page__content container">
            <div class="section-group row" id="info">
                <div class="col-6 section">
                    <h2 class="section__header">Dane zamówienia</h2>
                    <div class="section__container order-details">
                        <div class="order-detail">
                            <span class="order-detail__label">ID: </span><span class="order-detail__value"><%=orderDetails.order_id%></span>
                        </div>
                        <div class="order-detail">
                            <span class="order-detail__label">Źródło: </span><span class="order-detail__value"><%=orderDetails.order_source%></span>
                        </div>
                        <div class="order-detail">
                            <span class="order-detail__label">Użytkownik: </span><span class="order-detail__value"><%=orderDetails.user_login%></span>
                        </div>
                        <div class="order-detail">
                            <span class="order-detail__label">Telefon: </span><span class="order-detail__value"><%=orderDetails.phone%></span>
                        </div>
                        <div class="order-detail">
                            <span class="order-detail__label">Email: </span><span class="order-detail__value"><%=orderDetails.email%></span>
                        </div>
                        <div class="order-detail">
                            <span class="order-detail__label">Płatność dokonana: </span><span class="order-detail__value"><%=orderDetails.payment_done%> <%=orderDetails.currency%></span>
                        </div>
                        <div class="order-detail">
                            <span class="order-detail__label">Strona zamówienia: </span><span class="order-detail__value--newline"><a href="<%=orderDetails.order_page%>"><%=orderDetails.order_page%></a></span>
                        </div>
                        <div class="order-detail">
                            <span class="order-detail__label">Sposób dostawy: </span><span class="order-detail__value" id="delivery-method-span"><%=orderDetails.delivery_method%></span>
                        </div>
                    </div>
                </div>
                <div class="col-6 section background background--light-blue" id="products">
                    <h2 class="section__header">Produkty</h2>
                    <div class="section__container products">
                        <div class="product accordion" id="productAccordion">
                            <% orderDetails.products.forEach((product) => {%>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading-<%=product.product_id%>">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%=product.product_id %>" aria-expanded="false" aria-controls="collapse-<%=product.product_id %>">
                                            <%=product.name%>
                                        </button>
                                    </h2>
                                    <div id="collapse-<%=product.product_id %>" class="accordion-collapse collapse" aria-labelledby="heading-<%=product.product_id%>" data-bs-parent="#productAccordion">
                                        <div class="accordion-body product-details">
                                            <div class="product-detail">
                                                <span class="product-detail__label">Produkt: </span><span class="product-detail__value"><%=product.name%></span>
                                            </div>
                                            <div class="product-detail">
                                                <span class="product-detail__label">EAN: </span><span class="product-detail__value"><%=product.ean%></span>
                                            </div>
                                            <div class="product-detail">
                                                <span class="product-detail__label">SKU: </span><span class="product-detail__value"><%=product.sku%></span>
                                            </div>
                                            <div class="product-detail">
                                                <span class="product-detail__label">Ilość: </span><span class="product-detail__value"><%=product.quantity%></span>
                                            </div>
                                            <div class="product-detail">
                                                <span class="product-detail__label">Cena brutto: </span><span class="product-detail__value"><%=product.price_brutto%> <%=orderDetails.currency%></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%});%>
                        </div>
                    </div>
                    
                </div>
            </div>


            <div class="section-group row">
                <h2 class="section-group__header">Dodaj paczkę</h2>
                <div class="col-7 section">
                    <!-- <h2 class="section__header">Przesyłki</h2> -->
                    <div class="section__container">
                        <ul class="nav nav-pills" id="shipment-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link <%= defaultShipmentMethod.tab === 'allegro' ? 'active' : '' %>" id="allegro-tab" data-bs-toggle="pill" data-bs-target="#allegro-tab-pane" type="button" role="tab" aria-controls="allegro-tab-pane" aria-selected="true">Allegro.pl</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link <%= defaultShipmentMethod.tab === 'dhl' ? 'active' : '' %>" id="dhl-tab" data-bs-toggle="pill" data-bs-target="#dhl-tab-pane" type="button" role="tab" aria-controls="dhl-tab-pane" aria-selected="false">DHL PL</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link <%= defaultShipmentMethod.tab === 'inpost' ? 'active' : '' %>" id="inpost-tab" data-bs-toggle="pill" data-bs-target="#inpost-tab-pane" type="button" role="tab" aria-controls="inpost-tab-pane" aria-selected="false">InPost</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link <%= defaultShipmentMethod.tab === 'paczkomaty' ? 'active' : '' %>" id="paczkomaty-tab" data-bs-toggle="pill" data-bs-target="#paczkomaty-tab-pane" type="button" role="tab" aria-controls="paczkomaty-tab-pane" aria-selected="false">Paczkomaty</button>
                            </li>
                            <!-- <li class="nav-item" role="presentation">
                                <button class="nav-link" id="shopee-tab" data-bs-toggle="pill" data-bs-target="#shopee-tab-pane" type="button" role="tab" aria-controls="shopee-tab-pane" aria-selected="false">Shopee</button>
                            </li> -->
                        </ul>
                        <div class="tab-content" id="shipment-tab">
                            <div class="tab-pane fade <%= defaultShipmentMethod.tab === 'allegro' ? 'active show' : '' %>" id="allegro-tab-pane" role="tabpanel" aria-labelledby="allegro-tab" tabindex="0">
                                <%- include('./partials/formAllegro', {value: defaultShipmentMethod.value, insurance: insurance, refVal: orderDetails.order_id}); %>
                            </div>
                            <div class="tab-pane fade <%= defaultShipmentMethod.tab === 'dhl' ? 'active show' : '' %>" id="dhl-tab-pane" role="tabpanel" aria-labelledby="dhl-tab" tabindex="0">
                                <%- include('./partials/formDHL', {value: defaultShipmentMethod.value, insurance: insurance, refVal: orderDetails.order_id}); %>
                            </div>
                            <div class="tab-pane fade <%= defaultShipmentMethod.tab === 'inpost' ? 'active show' : '' %>" id="inpost-tab-pane" role="tabpanel" aria-labelledby="inpost-tab" tabindex="0">
                                <%- include('./partials/formInPost', {value: defaultShipmentMethod.value, insurance: insurance}); %>
                            </div>
                            <div class="tab-pane fade <%= defaultShipmentMethod.tab === 'paczkomaty' ? 'active show' : '' %>" id="paczkomaty-tab-pane" role="tabpanel" aria-labelledby="paczkomaty-tab" tabindex="0">
                                <%- include('./partials/formPaczkomaty', {value: defaultShipmentMethod.value, insurance: insurance}); %>
                            </div>
                            <!-- <div class="tab-pane fade" id="shopee-tab-pane" role="tabpanel" aria-labelledby="shopee-tab" tabindex="0">
                                <%- include('./partials/formShopee'); %>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-5 px-5">
                    <div class="section__container row background background--light-blue" id="dimensions">
                        <div class="col-3">
                            <div class="dimension__input">
                                <label for="dimension-weight">Waga</label>
                                <input type="number" class="form-control dimension-input" id="dimension-weight" value="2">                
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="dimension__input">
                                <label for="dimension-length">Długość</label>
                                <input type="number" class="form-control dimension-input" id="dimension-length" value="30">                
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="dimension__input">
                                <label for="dimension-width">Szerokość</label>
                                <input type="number" class="form-control dimension-input" id="dimension-width" value="40">                
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="dimension__input">
                                <label for="dimension-height">Wysokość</label>
                                <input type="number" class="form-control dimension-input" id="dimension-height" value="50">                
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="section" id="packages">
                <h2 class="section__header">
                    Paczki
                    <div class="spinner-border text-primary ms-2" role="status" style="display: none;" id="package-preloader">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                </h2>
                <table class="section__container table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Data nadania</th>
                            <th scope="col">Przewoźnik</th>
                            <th scope="col">Numer nadawczy</th>
                            <th scope="col">Status</th>
                            <th scope="col">Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orderPackages.packages.forEach((package) => {%>
                            <tr id="<%=package.package_id%>">
                                <td><%=package.data_nadania%></td>
                                <td><%=package.courier_code%></td>
                                <td><a href="<%=package.tracking_url %>"><%=package.courier_package_nr%></a></td>
                                <td><%=package.status%></td>
                                <td>
                                    <div class="td-button-container">
                                        <button type="button" class="btn btn-danger btn-sm me-1 btn-cell" onclick="deletePackage(<%=package.package_id%>)"><i class="bi bi-trash-fill"></i></button>
                                        <button type="button" class="btn btn-success btn-sm btn-cell" onclick="addPackageToList(<%=package.package_id%>)"><i class="bi bi-plus"></i></button>
                                    </div>
                                </td>
                            </tr>
                        <%});%>
                    </tbody>
                </table>
            </div>

            

            <div class="section-group" id="section-message">
                <h2 class="section__header">Wiadomość e-mail</h2>
                <div class="section__container">
                    <div class="message__input">
                        <label for="email-topic">Temat</label>
                        <input type="text" class="form-control" id="email-topic" value="Poprawione etykiety dla zamówienia <%=orderDetails.order_id %>">                
                    </div>
                    <div class="message__input">
                        <label for="email-message">Wiadomość</label>
                        <textarea class="form-control" placeholder="Wiadomość" id="email-message" style="height: 100px" value="Treść"></textarea>  
                    </div>

                    <div class="subsection" id="labels">
                        <h3 class="subsection__header">Etykiety</h3>
                        <div class="subsection__container">
                            <div id="labels-empty">Brak etykiet...</div>
                            <ul class="labels-list" id="labels-list">
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" onclick="sendEmail()">Wyślij</button>
            </div>

        </div>
        <div class="toast-container" id="alerts"></div>
    </div>
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <script>
        var orderPackages = '<%- JSON.stringify(orderPackages) %>'; // test is now a valid js object
    </script>
</body>
 
</html>   